.main {
    background-color: rgba(var(--sleek-grey), .15);
    width: 90vw;
    height: 55vw;
    border-radius: .5rem;
    box-shadow: 1rem 2rem 4rem
                rgba(0,0,0, .5);

    /* display: flex;
    justify-content: center;
    align-items: center; */

    box-shadow: 0 0 6rem 
                    rgba(var(--electric), .4),
                 0 0 6rem 
                    rgba(var(--grass), .4);
}

.console-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.console-button {
    color: #7ed56f;
    display: inline-block;
    /* background-color: rgba(255,255, 255, 0.5); */
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 4rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3);
    transition: all .5s;
}

.console-button:focus {
    outline: none;
    transform: translateY(1px);
}

.console-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 .75rem 1rem rgba(0, 0, 0, .3);
    background-color: #7ed56f;
    color: white;
    border: 2px solid white;
}


